.navbar-brand {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.button {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.total{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}

.App {
  text-align: center;
}
